body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

li {
  list-style-type: none;
}

span {
  color: gray;
}

a {
  color: none;
  text-decoration: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.jus-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.margin-1 {
  margin: 1vh 1vw;
}

.margin-2 {
  margin: 2vh 2vw;
}

.padding-1{
  padding: 1vh 1vw;
}
.padding-2{
  padding: 2vh 2vw;
}
